body{
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    color: #374151;
}

div{
    display: block;
    unicode-bidi: isolate;
}

.navbar{
    width: 100%;
    background-color: #40826D;
}

.nav-link{
    color: #f0fdf4;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
}

.navbar-brand{
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 16px;
    line-height: 1.8;
}

.dropdown-item{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 16px;
    line-height: 1.8;
}

.card{
    margin-top: 40;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    transition: 0.3s;
    border-color: #074b36;
    border: 5px;
}

.card h1{
    color: #074b36;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
    line-height: 1.8;
    font-size: 36px;
}

.pic1 {
    margin-left: 30;
    margin-bottom: 26;
    margin-top: -200;
}

.card:hover{
    transform: scale(1.01) translate(0);
    box-shadow: 0 4px 20px rgba(6, 99, 59, 0.227);
    border: #074b36;
}

.card p{
    margin-left: 320;
    color: #074b36;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
    line-height: 1.8;
    font-size: 20;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    .sidebar {
        display: none;
    }
}

.pic2 {
    margin-top: -120;
    margin-left: 380;
}
