body{
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    color: #374151;
    background-color: #f0fdf4;
}

div{
    display: block;
    unicode-bidi: isolate;
}

.navbar{
    width: 100%;
}

.navbar{
    background-color: #40826D;
}
.navbar-brand{
    color: #000000;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 16px;
    line-height: 1.8;
}

.nav-link{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
}

.card{
    border-color: #022d28;
}

.toc-card{
    background: #ffffff;
    border-radius: 16px;
    border: 1px solid #d8ffe4;
    box-shadow: 0 4px 20px rgba(57, 57, 57, 0.6);
    padding-top: -30px;
    position: relative;
    margin-left: 50;
    margin-right: 50;
}
