body{
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    color: #374151;
    background: rgba(237, 255, 250, 0.51);
}

div{
    display: block;
    unicode-bidi: isolate;
}

.navbar{
    width: 100%;
}

.banner{
    background: rgba(237, 255, 250, 0.51);
    padding: 40px 0 30px;
    position: relative;
    overflow: hidden;
}

.banner p{
    color: #022d28;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.8;
}

.banner h1{
    color: #022d28;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.8;
}

.navbar{
    background-color: #40826D;
}
.navbar-brand{
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 16px;
    line-height: 1.8;
}

.nav-link{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
}

.contanier{
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.toc-card{
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(57, 57, 57, 0.6);
    padding-top: -30px;
    position: relative;
    margin-left: 50;
    margin-right: 50;
}

.toc-card p{
    color: #022d28bf;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 16;
    text-align: center;
}

.host:hover {
    transform: scale(1.02) translate(0);
    box-shadow: 0 4px 20px rgba(6, 99, 59, 0.227);
    border-color: #074b36;
    background-color: rgba(239, 255, 252, 0.521);
}

.contanier1{
    width: 85%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card{
    background: rgba(237, 255, 250, 0.51);
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.main-contetnt{
    background: rgba(237, 255, 250, 0.51);
}

.col{
    margin-left: 60;
    margin-right: 60;
}

footer{
    background-color: #40826D;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    .sidebar {
        display: none; 
    }
}


